{{ define "main" }}
<header>
  <div class="container">
    <h1>{{ .Title }}</h1>
  </div>
</header>
<section class="single-post">
    <article>
      <div class="post-header">
        <nav class="breadcrumb">
            <a href="{{ .Site.BaseURL }}">Home</a> /
            {{ if .IsPage }}
            {{ $section := .Section }}
            {{ if $section }}
             <a href="{{ .Site.BaseURL }}{{ $section }}">{{ $section | title }}</a> /
            {{ end }}
            {{ end }}
            <span>{{ .Title }}</span>
        </nav>
        <p class="post-meta">
         <span>Dibuat pada {{ .Date.Format "2 January 2006" }}</span>
        <span>Oleh {{ .Site.Params.author }}</span>
        </p>
        {{ $featuredImage := "" }}
        {{ if .Params.featured_image }}
          {{ $featuredImage = .Params.featured_image }}
        {{ else }}
          {{ $images := findRE "<img.*?src=\"(.*?)\".*?>" .Content }}
          {{ if gt (len $images) 0 }}
            {{ $featuredImage = index $images 0 | replaceRE "<img.*?src=\"(.*?)\".*?>" "$1" }}
          {{ end }}
        {{ end }}
        {{ if $featuredImage }}
        <img src="{{ $featuredImage }}" alt="{{ .Title }}" class="featured-image">
        {{ else }}
        <img src="/images/admin/featured-image.png" alt="Default Featured Image" class="featured-image">
        {{ end }}
      </div>
      <div class="post-content">
      {{ $content := .Content }}
      {{ $firstParagraphEnd := findRE "<\\/p>" $content 3 }}
      {{ if $firstParagraphEnd }}
        {{ $endIndex := index $firstParagraphEnd 0 | len | add (index $firstParagraphEnd 0 | findRE "^.*?<\\/p>" | len) }}
        {{ $beforeTOC := slicestr $content 0 $endIndex }}
        {{ $afterTOC := slicestr $content $endIndex }}
        {{ $beforeTOC | safeHTML }}
        {{ if and (.Params.toc) (gt .WordCount .Site.Params.tocMinWordCount) }}
        <div class="toc-container">
            <h3>{{ i18n "tableOfContents" }}</h3>
            {{ partial "toc.html" . }}
        </div>
        {{ end }}
        {{ $afterTOC | safeHTML }}
        {{ else }}
        {{ .Content }}
        {{ end }}
          </div>
      <div class="post-footer">
        <div class="social-share">
          <h3>Share artikel ini:</h3>
          <ul class="social-share-list">
            <li>
              <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" rel="noopener noreferrer" class="social-icon facebook">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li>
              <a href="https://x.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}" target="_blank" rel="noopener noreferrer" class="social-icon twitter">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}" target="_blank" rel="noopener noreferrer" class="social-icon linkedin">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li>
              <a href="https://api.whatsapp.com/send?text={{ .Title }} {{ .Permalink }}" target="_blank" rel="noopener noreferrer" class="social-icon whatsapp">
                <i class="fab fa-whatsapp"></i>
              </a>
            </li>
            <li>
              <a href="https://t.me/share/url?url={{ .Permalink }}&text={{ .Title }}" target="_blank" rel="noopener noreferrer" class="social-icon telegram">
                <i class="fab fa-telegram-plane"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </article>
</section>
{{ partial "related_posts.html" . }}
{{ end }}